.btn-banner-add {
    float: right;
    margin-top: -55px;
}

.modal-header h2,
.modal-body h2 {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.striked {
    text-decoration: line-through;
}

.table-banners .small {
    color: #949494;
    font-weight: 300;
}

.popup-btn-close {
    color: white;
    font-size: 400%;
    opacity: 0.8;
    text-shadow: 0 1px 2px black;
    transition: all 0.2s;
}

.popup-btn-close:hover {
    color: white;
    opacity: 1;
}

#bannerModal img {
    max-width: 100%;
}

.banner-widget img {
    width: 100%;
}

.slick-slide img {
    display: block;
    width: 100%;
}

td.banner-preview {
    max-width: 100px;
}

td.banner-preview img {
    border: 1px #ccc solid;
    padding: 1px;
    border-radius: 2px;
    width: 100%;
}

.nav-tabs-banner {
    margin: 0 0 20px 0;
}
