a.btn-banner-add {
    float: right;
    margin-top: -35px;
}

.striked {
    text-decoration: line-through;
}

.table-banners .small {
    color: #949494;
    font-weight: 300;
}

.popup-btn-close {
    color: white;
    font-size: 400%;
    opacity: 0.8;
    text-shadow: 0 1px 2px black;
    transition: all 0.2s;
}

.popup-btn-close:hover {
    color: white;
    opacity: 1;
}

#bannerModal img {
    max-width: 100%;
}


img.banner-preview {
    max-width: 200px;
    border: 1px #ccc solid;
    padding: 1px;
    border-radius: 2px;
    width: 100%;
}

.img-responsive {
    max-width: 100%;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }

    .visible-xs {
        display: block !important;
    }
}

